<div class="title-container">
  <label class="title"><b>E-mail: </b></label>
</div>
<div class="input-container">
  <input class="border" type="text">
</div>

<div class="title-container">
  <label class="title"><b>Password: </b></label>
</div>
<div class="input-container">
  <input class="border" type="password">
</div>

<div class="title-container">
  <label class="title"><b>Confirm Passowrd: </b></label>
</div>
<div class="input-container">
  <input class="border" type="password">
</div>

<div class="loginButton">

  <button mat-raised-button>Login</button>

</div>

<div class="forgottenPasswordButton">

  <button mat-stroked-button>Forgotten Password?</button>

</div>

