:host {
  width: 50%;
  margin-right: 8%;
  height: 90%;
}

.forgottenPasswordButton {
  margin-left: 10%;
  border: transparent;
  background-color: transparent;
  color: #1800f8
}
.mat-form-field{
  color: #006b1b;
  text-decoration-color: #006b1b;
}
.mat-label{
  text-decoration-color: #006b1b;
}
.registerFields {
  border-radius: 25px;
  width: 100%;
  padding: 15%;
  padding-right: 0%;
  background: linear-gradient(
    45deg,
    rgba(24, 69, 149, 0.74),
    rgba(40, 163, 224, 0.5) 120%
  );
}


.form {
  min-width: 50px;
  max-width: 500px;
  width: 100%;

}

.full-width {
  width: 100%;
}
